<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Card/101.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,86},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/102.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,145},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/103.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,204},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/104.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,263},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/105.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,322},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/106.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,381},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/107.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,440},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/108.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,86},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/109.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,145},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/110.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,204},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/111.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,263},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/112.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,322},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/113.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,381},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/201.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,440},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/202.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,86},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/203.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,86},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/204.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,86},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/205.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,86},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/206.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,86},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/207.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,86},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/208.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,86},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/209.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,130},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/210.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,189},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/211.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,248},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/212.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,307},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/213.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,366},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/301.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,425},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/302.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,130},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/303.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,130},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/304.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,130},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/305.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,130},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/306.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,130},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/307.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,130},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/308.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,174},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/309.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,233},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/310.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,292},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/311.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,351},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/312.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,410},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/313.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,469},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/401.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,174},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/402.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,233},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/403.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,292},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/404.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,351},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/405.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,410},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/406.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,469},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/407.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,174},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/408.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,218},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/409.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,277},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/410.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,336},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/411.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,395},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/412.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,454},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/413.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,218},{40,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,55}</string>
			</dict>
			<key>Card/Leftcards1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{160,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,80}</string>
			</dict>
			<key>Card/Leftcards2.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,2},{160,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,80}</string>
			</dict>
			<key>Card/Leftcards3.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,2},{160,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,80}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>CardPlist.png</string>
			<key>realTextureFileName</key>
			<string>CardPlist.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>